footer {
    width: 100%;
    height: 0.98rem;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    marign: auto;
    padding: 0.06rem 0;
    border-top:0.02rem solid #333333;
    z-index: 99;
}

.footer-main {
    width: 6.08rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-main .setting {
    width: 0.7rem;
    height: 100%;
}

.footer-main .setting .pics {
    width: 0.55rem;
    height: 0.55rem;
    border-radius: 50%;
    text-align: center;
    line-height: 0.62rem;
    float: left;
    margin-left: 0.1rem;
    font-size: 0.45rem;
    color: #090723;
    font-weight: 700;
}
.footer-main .setting .c{
    font-size: 0.55rem;

}
.footer-main .setting .a.active{
	font-size: 0;
    background: url('../images/tab_button_home_selected.png')center center no-repeat;
    background-size: 100%;

}
.footer-main .setting .b.active{
		font-size: 0;
    background: url('../images/tab_button_follow_selected.png')center center no-repeat;
    background-size: 100%;

}
.footer-main .setting .c.active{
		font-size: 0;
    background: url('../images/tab_button_Shoppingcart_selected.png')center center no-repeat;
    background-size: 100%;

}
.footer-main .setting .d.active{
		font-size: 0;
    background: url('../images/tab_my_selected.png')center center no-repeat;
    background-size: 100%;

}
.footer-main .setting .intros {
    width: 0.75rem;
    float: left;
    margin-top: 0.04rem;
    font-size: 0.18rem;
    text-align: center;
    line-height: 0.18rem;
    color: #333333;
}