.header{
    width: 100%;
    height:0.9rem;
}
.content{
    width: 100%;
    height:auto;
    margin-top: 0.9rem;
    float: left;
}
.content .address{
    width:100%;
    height:2.89rem;
    float: left;
    margin-bottom: 0.3rem;
    border-top:1px solid #999;
    border-bottom:1px solid #999;
    background: #fff;
    padding: 0.33rem 0.3rem 0;
}
.content .address .top{
    width: 100%;
    height: auto;
    padding-left: 0.46rem;
    float: left;
}
.content .address .top .up {
    width: 100%;
    height: 0.52rem;
    float: left;
}
.content .address .top .up .person{
    width: 0.45rem;
    height:0.48rem;
    float: left;
    margin-right: 0.25rem;
}
.content .address .top .up .name{
    width: auto;
    height:100%;
    font-size: 0.36rem;
    color:#333333;
    float: left;
    line-height: 0.52rem;
}
.content .address .top .up .default{
    width:0.86rem;
    height:0.37rem;
    float: left;
    background: #6d78a1;
    color:#fff;
    margin-top: 0.07rem;
    margin-left: 0.4rem;
    font-size: 0.28rem;
    line-height: 0.37rem;
    text-align: center;
    border-radius: 0.1rem;
}
.content .address .top .up .phone{
    width: auto;
    height:100%;
    float: right;
    line-height: 0.52rem;
}
.content .address .top .down{
    width: 100%;
    height:1.17rem;
    font-size: 0.36rem;
    color:#666;
    float: left;
    padding-left: 0.65rem;
    line-height: 1.17rem;
    border-bottom: 1px solid #eeeeee;
}
.content .address .bottom{
    width: 100%;
    height:0.85rem;
    float: left;
}
.content .address .bottom .delete{
    width: auto;
    height: 100%;
    line-height: 0.85rem;
    font-size: 0.38rem;
    color:#6a79a3;
    float: right;
    margin-right: 0.43rem;
}
.content .address .bottom .edit{
    width: auto;
    height: 100%;
    line-height: 0.85rem;
    font-size: 0.38rem;
    color:#666;
    float: right;
    margin-right: 0.9rem;
}
.add{
    display: block;
    width: 7.02rem;
    height:0.85rem;
    position: fixed;
    background: #090823;
    border-radius: 0.2rem;
    bottom:1rem;
    left:0;
    right:0;
    margin: auto;
}
.add img{
    width: 0.6rem;
    height:0.6rem;
    float: left;
    margin-left: 2.3rem;
    margin-top:0.125rem;
}
.add span{
    width: auto;
    height:100%;
    display: block;
    line-height: 0.85rem;
    float: left;
    color:#fff;
    margin-left: 0.2rem;
    font-size: 0.4rem;
}