.body{
    width: 100%;
    height: auto;
    position: relative;
}
.news{
    width:95%;
    height: 0.55rem;
    z-index: 5;
    position: absolute;
    top:0.75rem;
    left:0;
    right:0;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.news li{
    width: 0.55rem;
    height: 0.55rem;
    font-size: 0.45rem;
    color: #090723;
}
.announce{
    width: 100%;
    height: 1.25rem;
    background: #fff;
    float: left;
    padding: 0.23rem 0.24rem;
}
.announce li{
    float: left;
}
.announce .anLeft{
    width: 0.81rem;
    height: 0.81rem;
}
.announce .anLeft img{
    width: 100%;
    height: 100%;
}
.announce .anRight{
    width: 80%;
    margin-left: 0.24rem;
    float: left;
    height: 0.68rem;
    margin-top: 0.09rem;
    padding: 0 0.14rem;
    border-left: 0.02rem solid #333333;
}
.announce .anRight p{
    height:0.24rem ;
    width: 100%;
    line-height: 0.24rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    font-size: 0.24rem;
    color: #333;
    float: left;
}
.main{
    width: 100%;
    height: auto;
    background: #fff;
    float: left;
    *zoom:1;
 }
.main .navs{
    width: 100%;
    height: 0.83rem;
    float: left;
    display: flex;
    justify-content: space-between;
}
.main .navs li{
    width: 33%;
    border-bottom: 0.03rem solid #efefef;
}
.main .navs li.active{
    border-color: #333333;
}
.main .navs li a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.17rem 15%;
}
.main .navs li a img{
    width: 0.45rem;
    height: 0.45rem;
    float: left;
}
.main .navs li a span{
   font-size: 0.24rem;
    color: #333333;
    height: 0.45rem;
    line-height: 0.45rem;
    float: left;
    margin-left: 0.1rem;
}
.main .list{
    width: 100%;
    height: auto;
    float: left;
    padding:0.21rem 0.24rem;
}
.main .list .every{
    width: 100%;
    height: auto;
    float: left;
    padding:0.21rem 0.24rem;
    position: relative;
}
.main .list .every .style{
    width: 100%;
    height: auto;
    display: none;
}
.main .list .every .style.active{
    display: block;
}
.main .list #one{
    width: 100%;
    float: left;
    overflow: hidden;
    padding-bottom: 0.8rem;
}
.main .list #one .logo{
    width: 0.87rem;
    height: 0.87rem;
    background: #eaeaea;
    border-radius: 0.2rem;
    float: left;
}
.main .list #one .coll{
    width: 83%;
    height: 0.87rem;
    float: left;
    margin-left: 0.2rem;
    display: flex;
    justify-content: space-between;
    padding: 0.23rem 0;
}
.main .list #one .coll .col{
    cursor: pointer;
    width: 0.4rem;
    height: 0.4rem;
    cursor: pointer;

}
.col_img{
    background: url('../images/button_follow_default.png')center center no-repeat;
    background-size: 100%;
}
.col_img2{
    background: url('../images/tab_button_follow_selected.png')center center no-repeat;
    background-size: 100%;
}
.main .list #one .con{
    width: 84%;
    height: auto;
    float: right;
}
.main .list #one .con span{
   font-size: 0.24rem;
    color: #333333;
    float: left;
}
.main .list #one .display{
    float: right;
    width: 84%;
    height: auto;
    margin: 0.15rem 0;
}
.main .list #one .display_1{
    width: 83%;
    float: right;
    height: auto;
    margin: 0.15rem 0;
}
.main .list #one .display li{
    width: 1.72rem;
    height: 1.72rem;
    min-height: 1.72rem;
    min-width: 1.72rem;
    float: left;
    margin-right: 0.11rem;
    margin-bottom: 0.1rem;
}
.main .list #one .display li #img{
    width: 100%;
    height: 100%;
}
.main .list #one .act{
    float: right;
    width: 84%;
    height: 0.5rem;
    display: flex;
    justify-content: space-between;
   margin-bottom: 0.25rem;
}
.main .list #one .act .time{
    color: #999999;
    font-size: 0.24rem;
}
.main .list #one .act{
    color: #333333;
    font-size: 0.28rem;
}
.main .list #one .act .img{
    width: 0.35rem;
    height: 0.35rem;
    float: left;
}
.main .list #one .act span{
    float: left;
    margin-left: 0.2rem;
}
.shareId{
    cursor: pointer;
}
.main .list .remarks{
    float: right;
    width: 84%;
    height: 0.5rem;
    display: none;
}
.main .list .remarks span{
    float: left;
    height: 0.25rem;
    color: #6b78a2;
    line-height: 0.25rem;
    font-size: 0.22rem;
}
.main .list .perfom{
    float: right;
    width: 84%;
    height: 0.6rem;
    display: flex;
    margin-top: 0.2rem;
    justify-content: space-between;
}
.main .list .perfom .change{
cursor: pointer;
}
.main .list .perfom .special{
    cursor: pointer;
}
.main .list .perfom .date{
    width: 50%;
    border: 0.01rem solid #333333;
    color: #090723;
    font-size: 0.24rem;
    line-height: 0.6rem;
}
.main .list .perfom .date span{
    color: #6b78a2;
}
.main .list .perfom .special{
    width: 40%;
    height: 100%;
    font-size: 0.26rem;
    text-align: center;
    line-height: 0.6rem;
    border-radius: 0.5rem;
    background: #efefef;
    color: #090723;

}
.theMain{
    margin-top: 1rem;
}
#detailOne{
    width: 50%;
}
#detailOne a{
    padding-left:30%;
    padding-right:30%;
    text-align: center;
}
#times{
    float: right;
    color: #999999;
    font-size: 0.24rem;
    display: none;
}
#prices {
    display: flex;
    justify-content: space-between;
    color: #333333;
    font-weight: 500;
}
#prices .ori span{
    font-weight: 400;
}
#prices .ori{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 0.45rem;
    font-weight: 500;
    color: #090723;
}
.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
    background: #333333;
    opacity: 0.8;
    z-index: 50;
    display: none;
}
.shareTo{
    width: 100%;
    height: 47%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
    background: #fff;
    z-index: 100;
    display: none;
}
.shareTo .p{
    width: 100%;
    float: left;
    height: 15%;
    font-size: 0.28rem;
    color: #343434;
    text-align: center;
    padding: 5% 0;
}
.shareTo .shareStyle{
    width: 100%;
    height: 70%;
    float: left;
    margin: 0 auto;
   padding: 2% 10% 5%;
}
.shareTo .shareStyle li{
    width: 1rem;
    height: 1.6rem;
    float: left;
    margin: 3% 8%;
}
.shareTo .shareStyle li img{
    width: 1rem;
    height: 1rem;
    float: left;
}
.shareTo .shareStyle li span{
    float: left;
    width: 100%;
    height: 0.6rem;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.6rem;
    color: #343434;
}
 .shareTo .cancel{
    width: 100%;
    height: 15%;
    float: left;
    background: #0a0724;
    font-size: 0.28rem;
    color: #fff;
    text-align: center;

}
 .shareTo .cancel span{
     width: 100%;
     height: 100%;
     line-height:350%;
     font-size: 0.28rem;
 }
 .url{
     width: 80%;
     height: 21%;
     position: fixed;
     top:0;
     left:0;
     right:0;
     bottom:0;
     margin:auto;
     background: #fff;
     border-radius: 0.4rem;
     z-index: 200;
     display: none;
 }
 .url .head{
     width: 100%;
     height:0.8rem;
     float: left;
     text-align: center;
     line-height:1rem;
     font-size: 0.35rem;
     color: #090723;
 }
 .url .con{
     width: 80%;
     height:1rem;
     float: left;
     margin-left: 10%;
     text-align: center;
     line-height: 1rem;
     font-size: 0.24rem;
     color:#666666;
     border-bottom: 0.01rem solid #666666;
 }
 .url .choose{
     width: 80%;
     height:1rem;
     float: left;
     margin-left: 10%;
     display: flex;
     justify-content: space-between;
 }
 .url .choose input{
     border: none;
     width: 50%;
     text-align: center;
     color: #090723;

 }
.url .choose input:focus {
    outline: none;
    color: #6b78a2;
}
.join{
    width: 100%;
    height: 68%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
    background: #fff;
    z-index: 100;
    padding: 0.24rem 0 0;
    display: none;
}
.join .error{
   float: right;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 0.24rem;
}
.join .error img{
    width: 100%;
    height: 100%;
}
.join .intro{
    width: 88%;
    height: 20%;
    position: relative;
}
.join .intro .img{
    width: 2.1rem;
    height: 2.1rem;
    position: absolute;
    top:-0.8rem;
    left:0.24rem;
    margin:auto;
}
.join .intro .priceless{
    float: left;
    width: 55%;
    margin-left: 2.54rem;
    height: 0.5rem;
    margin-top: 0.06rem;
    margin-bottom: 0.03rem;
}
.join .repertory{
    float: left;
    width: 47%;
    margin-left: 2.54rem;
    color: #333333;
    font-size: 0.3rem;
}
.join #set{
    float: left;
    width: 47%;
    margin-left: 2.54rem;
    font-size: 0.3rem;
    color:#333333;
    margin-top: -0.2rem;
}
.join .same{
    height: 23%;
    margin: 0 0.24rem;

}
.join .color{
    border-bottom: 0.01rem solid #b5b4bd;
}
.join .same h5{
    width: 100%;
    float: left;
    text-align: left;
    color:#333333;
    margin-bottom:0.2rem;
}
.join .same .kind{
    float: left;
}
.join .same .kind li{
    float: left;
    margin-right: 0.18rem;
    margin-bottom: 0.13rem;
    width: 1.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    border: 0.01rem solid #333333;
    text-align: center;
    line-height: 0.5rem;
}
.join .same .kind li.active{
    background: #333333;
    color: #fff;
}
.join .quality{
    padding: 0.2rem 0;
    border-bottom: 0.01rem solid #b5b4bd;
    margin: 0 0.24rem;
}
.join .quality .qua{
    display: flex;
    justify-content: space-between;
}
.join .quality h5{
    color: #333333;
}
.join .quality span{
    color: #666666;
}
.join .quality .qua .pur{
    width: 40%;
    height: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.join .quality .qua .pur .num{
    height: 100%;
    line-height: 0.7rem;
}
.join .quality .comment span{
    float: left;
    font-size: 0.24rem;
    margin-top: -0.35rem;
    /*margin-left: 0.8rem;*/
}
.join .quality .comment span input{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 0.24rem;
    background: none;
}
.join .quality .comment{
    margin-top:0.6rem;
}
.join .quality .comment h5{
    display: inline;
    width: 15%;
    float: left;
    margin-top: -0.2rem;
}
.join .shopping{
    width: 100%;
    height: 10%;
    border-top: 0.005rem solid #090723;
    position: absolute;
    bottom:0;
    left:0;right:0;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
.join .shopping input{
    width: 32%;
    height: 100%;
    border: none;
    color: #fff;
    font-size: 0.32rem;
}
.join .shopping input:focus{
    outline: none;
}
.join .shopping div{
    width: 36%;
    text-align: center;
    line-height: 0.9rem;
    font-size: 0.3rem;
    color: #999999;
}
.join .shopping #shop{
    background: #6878A2;
}
.join .shopping #purchase{
    background: #090723;
}
.main .list .perfom #joinShop{
    width: 40%;
    height: 100%;
    font-size: 0.26rem;
    text-align: center;
    line-height: 0.6rem;
    border-radius: 0.5rem;
    background: #efefef;
    color: #090723;
}
.main .list .perfom #joinShop.active{
    background: #333333;
    color: #ffffff;
}



