body, html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
.box{
	width: 100%;
	height: 100%;
	background-image: url('../images/login.jpg');
	background-size:100%;
	background-repeat: no-repeat;
}
header{
	width: 100%;
	height: 36%;
	float: left;
}
header span{
	width: 100%;
	float: left;
	margin-top: 45%;
	line-height: 1rem;
	text-align: center;
	font-size:0.4rem ;
	color: #fff;
}
.con{
	width: 100%;
	height: 64%;
	float: left;
	background: #fff;
	position: relative;
}
.con:after{
	display:block;
	content:"";
	width: 0;
	height: 0;
	position: absolute;
	top:-0.5rem;
	left:0;
	right:0;
	margin:auto;
	border-left: 0.3rem solid transparent;
	border-right: 0.3rem solid transparent;
	border-bottom: 0.6rem solid #fff;
}
form{
	width: 100%;
	height:auto;
	float: left;
	padding:0.8rem  0.79rem 0;
}
input:focus{
	outline: none;
}
form .user{
	width:100%;
	height: 1.08rem;
	float: left;
	border-bottom:0.01rem solid #999999;
	line-height: 1.08rem;
}
form .user input{
	width: 50%;
	float: left;
	margin-top: 0.35rem;
	font-size: 0.3rem;
	border: none;
}
form .user span{
	width: 20%;
	float: left;
	font-size: 0.3rem;
}
form .pass span{
	width: 20%;
	float: left;
	font-size: 0.3rem;
}
form .pass{
	width:100%;
	height: 1.08rem;
	float: left;
	border-bottom:0.01rem solid #999999;
	line-height: 1.08rem;
}
form .pass input{
	width: 48%;
	float: left;
	margin-top: 0.35rem;
	font-size: 0.3rem;
	border:none;
}
form .pass input[type=button]{
	width: 30%;
	height: 60%;
	margin-top: 5%;
	border-radius: 0.4rem;
	float: left;
	font-size: 0.24rem;
	background: #090723;
	color: #fff;
	text-align: center;
}
form .error_alert{
	width:100%;
	text-align: center;
	height:0.4rem;
	font-size:0.24rem;
	float: left;
	margin-top: 0.2rem;
	/*display: none;*/
}
form .error_alert .error{
	display: block;
	width: 100%;
	height:100%;
	float: left;
	text-align: center;
	line-height: 0.3rem;
	color:#ff5252;
}
.login-btn{
	width: 100%;
	height: auto;
	float: left;
	padding: 0 0 0.5rem;
}
.login-btn input{
	width: 100%;
	height: 0.9rem;
	border-radius: 0.4rem;
	font-size: 0.28rem;
	background: #090723;
	color: #fff;
	border:none;
	letter-spacing: 5px;
}

.other{
	width: 100%;
	height: auto;
	float: left;
	padding: 0 0.79rem;
}
.other span{
	float: left;
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 0.24rem;
	color:#333333;
	position: relative;
}
.other span:before{
	display: block;
	content:"";
	position: absolute;
	top:0.2rem;
	width: 26%;
	height: 0.01rem;
	background: #999999;
}
.other span:after{
	display: block;
	content:"";
	position: absolute;
	top:0.2rem;
	right: 0;
	width: 26%;
	height: 0.01rem;
	background: #999999;
}
.other .list{
	width: 100%;
	height: auto;
	float: left;
	display: flex;
	margin-top: 0.8rem;
	justify-content: space-around;
}
.other .list li{
	width: 1rem;
	height:1rem;
}
.other .list li img{
	width: 100%;
	height:100%;
}




