.up-bar-nav{
	background-color: #FFFFFF;
	color:#090723;
	box-shadow:none ;
	-webkit-box-shadow: none;
	border-bottom: 1px solid #ccc;
	z-index: 99;
}
.up-bar-nav .mui-pull-left.mui-icon{
	color:#1b1835;
}

.up-bar-nav .up-title{
	/*font-size: .4rem;*/
	/*font-weight: 600;*/
}

.up-bar-nav  .up-bar-nav-btn{
	font-size:.24rem;
	line-height: 24px;
	color:#090723;
	padding-top:10px;
	padding-bottom: 10px;
	margin: 0;
}

.up-bar-nav .nav_button_search ,.up-bar-nav .nav_button_news_msg{
	position: absolute;
	width:24px;
	height:24px;
	margin-top:-12px;
	top:50%;	
}
.up-bar-nav .nav_button_search{
	right:10px;
	background:url(../images/nav_button_search.png) center no-repeat;
	background-size: 120%;
}
.up-bar-nav .nav_button_news_msg{
	left:10px;
	background:url(../images/nav_button_news_msg.png) center no-repeat;
	background-size: 120%;
}
