.body{
    width: 100%;
    height: auto;
    position: relative;
    background-color: #ffffff;
}
header {
    width: 100%;
    background: #ffffff;
    height: 0.88rem;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 500;
}
header .header-main {
    width: 7.02rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
    color: #333;
}
.search{
    display: block;
    width: 0.34rem;
    height: 0.34rem;
    font-size: 0.34rem;
    position:absolute;top:0;
    bottom:0;
    right: 0;
    margin:auto;
    cursor: pointer;
}
#banner a{
    display: block;
    width: 100%;
    height:100%;
}
.announce{
    width: 100%;
    height: 0.95rem;
    padding:0 0.24rem;
    overflow: hidden;
    margin-top: -0.64rem;
    z-index: 50;
    position: absolute;
}
.announce .cons{
    width: 7.02rem;
    height: 0.88rem;
    background: #fff;
    border-radius:0.45rem;
    padding: 0.08rem 0.28rem;
    box-shadow:-1px 1px 20px 0px #f0ddf3;
    overflow: hidden;
}
.announce .con{
    width: 7.02rem;
    height: 0.88rem;
}
.announce .con .anLeft{
    width: 0.72rem;
    height: 0.72rem;
    float: left;
}
.announce .con .anLeft img{
    width: 100%;
    height: 100%;
}
.announce .con .anRight{
    width:4.92rem;
    margin-left: 0.4rem;
    float: left;
    height: 0.28rem;
    margin-top: 0.24rem;
    padding: 0 0.2rem;
    border-left: 0.02rem solid #333333;
}
.announce .con .anRight .rcon{
    height:0.26rem ;
    width: 100%;
    line-height: 0.27rem;
    text-overflow: ellipsis;
    white-space:nowrap;
    font-size: 0.27rem;
    color: #333;
    float: left;
}
.announce .con .anRight .rcon span{
    color: #c444ff;
}
.main{
    width: 100%;
    height: auto;
    /*padding: 0 0.24rem;*/
    float: left;
    margin-top: 0.47rem;
}
.navs{
    width: 100%;
    height: 0.88rem;
    float: left;
    display: flex;
    justify-content: space-between;
}
.navs li{
    width: 50%;
    padding: 0.2rem 0;

}
.navs li a.active{
    color: #c444ff;
}
.navs li a{
    display: block;
    width:40%;
   margin: 0 auto;
    height: 0.54rem;
    font-size: 0.27rem;
    color: #333333;
    line-height: 0.54rem;
    text-align: center;
}
.navs li a .img{
    width: 0.26rem;
    height: 0.34rem;
    margin-top: 0.1rem;
    float: left;
}
.navs li a .pic1{
    width: 0.26rem;
    height: 0.34rem;
    background: url("../images/free_shantian@2x.png")center center no-repeat;
    background-size: 100%;
}
.navs li a .pic1.active{
    width: 0.26rem;
    height: 0.34rem;
    background: url("../images/free_shantian@2x1.png")center center no-repeat;
    background-size: 100%;
}
.navs li a .pic2{
    width: 0.26rem;
    height: 0.34rem;
    background: url("../images/free_hua@2x.png")center center no-repeat;
    background-size: 100%;
}
.navs li a .pic2.active{
    width: 0.26rem;
    height: 0.34rem;
    background: url("../images/free_hua@2x1.png")center center no-repeat;
    background-size: 100%;
}
.main .list{
    width: 100%;
    height: auto;
    float: left;
}
.main .list .every{
    width: 100%;
    height: auto;
    float: left;
    padding:0.21rem 0;
    position: relative;
}
.main .list .every p{
    text-align: center;
    font-size: 0.25rem;
}
.main .list .every .style{
    width: 100%;
    height: auto;
    display: none;
}
.main .list .every .style.active{
    display: block;
}
.doing .time{
    width: 100%;
    height: auto;
    min-height: 50px;
    float: left;
    padding: 0 10px;
    

}
.doing .time .left{
    width: 20%;
    height: 0.88rem;
    border-radius: 0.2rem;
    float: left;
    border: 0.01rem solid #7f7f7f;
    position: relative;
}
.doing .time .left .font{
    width: 100%;
    height: 0.23rem;
    position: absolute;
    font-size: 0.18rem;
    text-align: center;
    top:0.1rem;
    left:0;
    right:0;
    margin:auto;
}
.doing .time .left span{
    width: 100%;
    position: absolute;
    font-size: 0.18rem;
    top:0.4rem;
    left:0;
    right:0;
    margin:auto;
    text-align: center;
}
.mui-table-view{
    width: 80%;
    float: right;
}
.mui-table-view:after{
    background-color: #fff;
}
.mui-table-view:before{
    background-color: #fff;
}
.mui-push-left:after, .mui-push-right:after{
    width: 10%;
    height: 0.8rem;
    border: 0.01rem solid #7f7f7f;
    border-radius: 0.15rem;
}
.mui-navigate-right span{
    font-size: 0.22rem;
}
.mui-collapse-content span{
    font-size: 0.22rem;
}
.mui-table-view-cell > a:not(.mui-btn){
    display: flex;
    justify-content: space-around;
}
.mui-navigate-right:after, .mui-push-right:after{
    right: 0;
}
.mui-table-view-cell{
    padding: 11px 20px 11px 5px;
}
.mui-table-view-cell.mui-active{
    background-color: #fff;
}
.mui-table-view-cell.mui-collapse .mui-collapse-content{
    padding: 8px 22px;
}
.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after{
    color:#fff;
}
.mui-navigate-right span.active{
    color: #c444ff;
    border-bottom: 0.01rem solid #000;
}

.mui-collapse-content{
    padding: 0.2rem 0;
    display: none;
}
.mui-collapse-content span{
    margin-right: 0.47rem;
    margin-left: 0.2rem;
}
.countdown{
    width: 100%;
    float: left;height: 1.5rem;
    margin-top: 0.2rem;
    border-bottom: 0.01rem solid #ccc;
}
.countdown p{
    font-size: 0.26rem;
    color: #000;
}
.countdown .down{
    display: flex;
    justify-content: center;
}
.countdown .down span{
    background: #000;
    color: #fff;
    padding: 0.03rem;
    text-align: center;
}
.countdown .c66 span{
	background: #666666;
}
.commidity{
    width: 100%;
    height: auto;
    float: left;
    padding: 0.52rem 0.24rem;
}
.commidity .every{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
}
.commidity .every .timecommidity{
    width: 100%;
    height: auto;
    display: none;
}
.commidity .every .timecommidity.active{
    display: block;
}
.commidity .every .pur{
    width: 100%;
    height: 2.17rem;
    margin-bottom: 0.42rem;
}
.commidity .pur .left{
    width: 2.55rem;
    height: 2.17rem;
    float: left;
}
.commidity .pur .left img{
    width: 100%;
    height: 100%;
}
.commidity .pur .right{
    width:4.1rem;
    height: 2.17rem;
    float: left;
    margin-left: 0.28rem;
}
.commidity .pur .right .productName{
    font-size: 0.28rem;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    text-align: left;
}
.buyingMes{
    width: 100%;
    height: 0.46rem;
    float: left;
}
.buyingMes .buyProgress{
    width: 61%;
    height: 0.08rem;
    border-radius:0.5rem;
    margin-top: 0.1rem;
    border:0.01rem solid #c444ff;
}
.buyingMes .buyProgress .buyContent{
    height: 100%;
    background: #c444ff;
}
.buyingMes .num{
    width: 100%;
    height: 0.28rem;
    float: left;
    display: flex;
    justify-content: flex-start;
    margin-top: 0.1rem;
    font-size: 0.18rem;
}
.commidity li .right .price{
    width: 100%;
    height: 30px;
    float: left;
    margin-top: 0.5rem;
    border-radius: 0.3rem 0 0 0.3rem;
    border: 0.01rem solid #eee;
    font-size: 0.21rem;
}
.commidity li .right .price .sale{
    width: 60%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: left;
}
.commidity li .right .price .purchase{
    width: 40%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: right;
    background: #a0a0a0;
    cursor: pointer;
}
.mui-table-view-cell a .mui-icon-plusempty {
    float: right;
    position: absolute;
    right: 0%;
    top: 16%;
    font-size: 0.6rem;
    font-weight: 700;
}
.rob .times{
    width: 100%;
    height:50px;
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;
}
.rob .times li{
    width: 33.3%;
    height: 100%;
    padding: 0.05rem 0;
}
.rob .times li span{
    display: block;
    text-align: center;
    font-size: 0.26rem;
}
.rob .times li span:nth-child(2){
    font-size: 0.20rem;
}
.rob .times li.active{
    background: #c444ff;
}
#add{
    position: absolute;
    top:0;
    right: 0;
    z-index: 999;
    padding-left:5px;
    width: 34px;
    height: 0.8rem;
    line-height: 0.8rem;
    border: 0.01rem solid #333;
    border-radius: 0.15rem;
}
