footer {
    width: 100%;
    height: 0.98rem;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    marign: auto;
    border-top:0.01rem solid #c444ff;
    z-index: 99;
    display: flex;
    justify-content: space-between;
}
footer .setting {
    width: 1.63rem;
    height: 100%;
    position: relative;
    padding-top:0.14rem;
}
footer .set{
    width:2.6rem;
    height: 100%;
    background: #c444ff;
    color: #fff;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.98rem;
}
footer .setting .iconfont{
    width: 100%;
    height: 0.37rem;
    text-align: center;
    line-height: 0.37rem;
    font-size: 0.37rem;
    color: #c444ff;
}
footer .setting .intros {
    width: 0.75rem;
    float: left;
    font-size: 0.24rem;
    text-align: center;
    color: #666;
    line-height: 0.24rem;
    position: absolute;
    left:0;
    right:0;
    bottom: 0.1rem;
    margin:auto;
}