.header{
    width: 100%;
    height:0.9rem;
}
header .save{
    display: block;
    width: auto;
    height:100%;
    font-size:0.34rem;
    position: absolute;
    right:0.24rem;
    top:0.15rem;
    bottom:0;
    margin: auto;
    line-height: 0.9rem;
}
.add{
    display: block;
    width: 7.02rem;
    height:0.85rem;
    position: fixed;
    background: #c444ff;
    border-radius: 0.2rem;
    bottom:1rem;
    left:0;
    right:0;
    margin: auto;
    font-size: 0.36rem;
    line-height: 0.85rem;
    color: #fff;
    text-align: center;
}
.content{
    width: 100%;
    height:7rem;
    float: left;
    margin-top: 0.92rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #fff;
}
.content .user{
    width: 100%;
    height:1rem;
    float: left;
    border-bottom: 1px solid #eee;
    position: relative;
}
.content .user:last-child{
    border-bottom: none;
}
.content .user span{
    width: auto;
    height:100%;
    line-height: 0.95rem;
    font-size: 0.34rem;
    color:#333;
    display: block;
    float: left;
    margin-left: 0.66rem;
}
.content .user input{
    -moz-appearance: none;
    -webkit-appearance:none ;
    margin: 0;
    padding: 0;
    width: auto;
    height:100%;
    display: block;
    float: left;
    border: none;
    color:#666;
    font-size: 0.34rem;
    line-height: 1rem;
    outline: none;
    background: none;
}
.content .user .img{
    width: 0.3rem;
    height:0.3rem;
    position: absolute;
    right:0.6rem;
    top:0;
    bottom:0;
    margin: auto;
    background: url("../images/check.png") center center no-repeat;
    background-size: 100%;
}
.content .user .img.active{
    background: url("../images/btn_edit_cancel.png") center center no-repeat;
    background-size: 100%;
}
.provincefont, .cityfont, .areafont {
    float: left;
    text-align: center;
    line-height: 0.8rem;
    position: absolute;
    top: 0;
    right: 0.4rem;
    font-size: 0.34rem;
}
.smrz_da_bottom input, .smrz_da_bottom select {
    width: 100%;
    height: 0.8rem;
    border: 0;
    outline: none;
    font-size: 0.34rem;
    line-height: 1rem;

}
select{
    font-size: 0.34rem;
    margin-left: 0.35rem;
    height: 39px;
}
