i,em{ font-style: normal;}

.upfooter{
	border-color:#c8c7cc;
}
/*.mui-title{
	font-size: 0.3rem;
}*/
.mui-bar-nav{
	background-color:#FFFFFF;
	box-shadow:none;
	-webkit-box-shadow: none;
	border-bottom: 1px solid #000000;
}

.mui-bar-nav.mui-bar .mui-icon{
	margin-left:0px;
	margin-top:10px;
	margin-right:0px;
}
.nav_button_news{
	background: url(../images/cart/nav_button_news.png) center no-repeat;
	background-size: 120%;
}

/*.nav_button_news_msg{
	background: url(../images/cart/nav_button_news_msg.png) center no-repeat;
	background-size: 120%;
}
*/
/*.nav_button_search{
	background:url(../images/cart/nav_button_search.png) center no-repeat;
	background-size:120%;
}
*/
.mui-bar .mui-icon{
	width:24px;
	height:24px;
}

.hint-group{
	background: #FFFFFF;
	position: fixed;
	width:100%;
	z-index: 999;
}

.hint-group .mui-table-view{
	background:#000000;
}

.hint-group .mui-table-view .mui-table-view-cell{
	padding: 10px;
	background: #000000;
}

.mui-table-view-cell p{
	font-size:0.22rem;
	line-height:20px;
	color:#FFFFFF;
	background: #000000;
	-webkit-text-size-adjust: none;
	padding-left:45px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;	
}

.hint-group-cont{
	height:40px;
}

.hint-group-cont-icon{
	position: absolute;
	width:24px;
	height:24px;
	background:url(../images/cart/icon_prompt.png) center no-repeat;
	background-size:100%;
	top:50%;
	margin-top:-12px;	
}

.hint-group-cont-l{
	position: absolute;
	width:1px;
	height: 24px;
	background: #FFFFFF;
	left:34px;
	top:50%;
	margin-top:-12px;	
}

.hint-recycle-group{
	position:relative;
	width:100%;
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.hint-recycle-group .hint-recycle-group-text ,.hint-recycle-group .hint-recycle-group-btn{
	-webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
	padding: 10px;
}

.hint-recycle-group .hint-recycle-group-text h1{
	font-size: .3rem;
	line-height:30px;
	margin:0px;
	padding: 0px;
}
.hint-recycle-group .hint-recycle-group-text h1 >span{
	font-size: .26rem;
	margin-left:.25rem;
	line-height:30px;
	color:#999999;
}

.hint-recycle-group .hint-recycle-group-btn button.mui-btn{
	font-size: .24rem;
	border-radius:18px;
	padding:6px 30px;
	line-height: 18px;
	float:right;
}

.list{
	margin-bottom: 10px;
}
.cart-list-group{
 	padding-top:10px;
}

.list-head{
	background:#FFFFFF;
	position: relative;
	padding:5px 0;
}

.list-head .list-head-icon{
	position: absolute;
	width:20px;
	height:20px;
	top:10px; 
	right:10px;
	background: url(../images/cart/btn_edi.png) center no-repeat;
	background-size: 100%;
}

.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{
	color:#000000;
}

.mui-checkbox.mui-left label, .mui-radio.mui-left label{
	font-size: .3rem;
	font-weight: 600;
}

.up-table-wiew .my-table-view-cell{
	padding: 10px 0px;
	position: inherit;
	overflow: hidden;
}

.up-table-wiew .row{
	position: relative;
}

.up-table-wiew .row .up-checkbox{
	float:left;
	width:52px;
	height:109px;
}

.up-checkbox.mui-left input[type=checkbox]{
	top:50%;
	margin-top:-13px;
}

.up-table-wiew .row .content{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left:58px;
	height: 109px;
	max-height: 109px;
}


.up-table-wiew .row .content .title{
	font-size: .3rem;
	line-height: .4rem;
	color:#333333;
	padding-right:20%;
	font-weight: 600;
}

.up-table-wiew .row .content .style{
	font-size: .24rem;
	color: #888888;
	margin:0;
	padding: 0;
}
.up-table-wiew .row .content .style span{
	margin-right:10px;
}

.up-table-wiew .content .mui-media-object{
	width: 109px;
	height:109px;
	max-width:109px;
	line-height: 109px;
}


.price-group{
	position: relative;
	padding-right:10px;
}

.price-group .price{
	font-size: .4rem;
	line-height: .5rem;
	color: #000000;
	font-weight: 500;
}

.price-group .price .price-icon ,.summation-group .summation-price .price-icon{
	font-size: .2rem;
	padding:0;
	margin:0;
}

.price-group .price .decoration{
	font-size: .24rem;
	text-decoration: line-through;
	color:#888888;
}

.price-group .price .amount{
	font-size: .24rem;
	float:right;
	color:#888888;
	padding-top:.12rem
}

.price-group .price .amount span{
	margin-left: 3px;
}

.summation-group{
	position: fixed;
	overflow: hidden;
	width:100%;
	bottom: 49px;
	z-index: 99;
	background: #FFFFFF;
	border-top:0.02rem solid #333333;
}

.summation-group .summation{
	padding-right: 10px;
}

.summation-group .summation-price{
	font-size: .3rem;
	font-weight: 500;
	line-height: 50px;
	max-height: 50px;
	overflow: hidden;
	text-align:right;
	margin: 0;
}

.summation-group .summation-price .text{
	font-size: .24rem;
	color:#888888;
}

.summation-group .summation-btn{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	width:100%;
	font-size: .3rem;
	color:#FFFFFF;
	text-align: center;
	background: #000000;
}

.summation-group .mui-checkbox{
	height: 50px;
	line-height: 50px;	
}

.summation-group .mui-checkbox input[type=checkbox]{
	top:12px;
}

.summation-group .mui-checkbox label{
	margin: 0;
	padding:0;
	line-height: 50px;
	padding-left:58px;
	font-size: .3rem;
	color:#888888;
	font-weight: 500;
}

.pd100{
	padding-bottom: 100px;
}
.pd50{
	padding-bottom: 50px;
}
.mh60{
	min-height: 60px;
}

.display_flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex_0{
    -webkit-box-flex: 0;
    -ms-flex: 0;
    -webkit-flex: 0;
    flex: 0;    
}


.flex_1{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;    
}

.flex_2{
    -webkit-box-flex: 2;
    -ms-flex: 2;
    -webkit-flex: 2;
    flex: 2;    
}

.flex_4{
    -webkit-box-flex: 4;
    -ms-flex: 4;
    -webkit-flex: 4;
    flex: 4;    
}

.my-table-view-cell:after{
	position: absolute;
	right:0;
	bottom: 0;
	left:15px;
	height:1px;
	line-height:1px;
	content: '';
	background-color: #c8c7cc;
	-webkit-transform:scaleY(.5);
	transform:scaleY(.5);
}
