
.address-group {
	position: fixed;
	top:44px;
	width: 100%;
	padding-bottom: 4px;
	z-index: 999;
}


.address-group .address-box {
	position: relative;
	padding-left:20px;
	padding-right: 30px;
}

.address-group .address-box .name {
	font-size: .3rem;
	color: #090823;
}

.address-group .address-box .phone{
	color: #090823;
	margin-left: 10px;
	margin-right: 10px;
}
.address-group .address-box .address-icon{
	display: block;
	float:right;
	width:35px;
	height: 15px;
	background: url(../images/cart/icon_address_default.png) center no-repeat;
	background-size: 100%;
	margin-right:50px;
}

.address-group .address{
	font-size: .24rem
}

.h2-title{
	font-size: .3rem;
	padding-right: 30px;
	line-height: 24px;
	margin:3px auto;
}


.h2-title .cont{
	font-size: .24rem;
	float:right;
	color:#999999;
}

.up-input-group{
	margin:-10px;
}

.up-input-group .mui-input-row{
	line-height: 50px;
	height: 50px;
}

.up-input-group .mui-input-row label{
	width:20%;
	padding: 0;
	padding-left:10px;
	font-size: .3rem;
	font-weight: 600;
	line-height: 50px;
}

.up-input-group .mui-input-row label~input{
	width:80%;
	font-size: .24rem;
	line-height: 50px;
	height: 50px;
}
.up-input-group .mui-input-row .mui-input-clear~.mui-icon-clear{
	top:15px;
}

.notarize-cost{
	padding-top:10px;
	padding-bottom: 10px;
}
.notarize-cost .my-table-view-cell{
	padding-top: 0;
	padding-bottom: 0;
	padding-left:10px;
}

.notarize-cost .h2-title{
	padding-right:10px;
	color:#000000;
}

.submit-group{
	position: fixed;
	left:0;
	right:0;
	bottom:0;
	height:50px;
	line-height: 50px;
	background:#FFFFFF;
}

.submit-group .cont{
	line-height: 50px;
	font-size: .3rem;
	padding-left: 10px;
	color: #000000;
	margin: 0;
}
.submit-group .cont .price-icon{
	margin-left: 15px;
	margin-right: 5px;
}
.submit-group .cont span{
	font-size: .4rem;
}
.submit-group .submit-btn{
	display:block;
	width:120px;
	height: 50px;
	line-height: 50px;
	color:#FFFFFF;
	text-align: center;
	font-size: .3rem;
	background: #000000;
}


.pad50{
	padding-bottom: 50px;
}

.display_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex_0 {
	-webkit-box-flex: 0;
	-ms-flex: 0;
	-webkit-flex: 0;
	flex: 0;
}

.flex_1 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

.flex_2 {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	-webkit-flex: 2;
	flex: 2;
}

.flex_3 {
	-webkit-box-flex: 3;
	-ms-flex: 3;
	-webkit-flex: 3;
	flex: 3;
}

.flex_4 {
	-webkit-box-flex: 4;
	-ms-flex: 4;
	-webkit-flex: 4;
	flex: 4;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix {
	/*兼容 IE*/
	zoom: 1;
}

.clearfix:after {
	/*最简方式*/
	content: '';
	display: block;
	clear: both;
}

.address-group:after{
	content: " ";
	position: absolute;
	left:0;
	right:0;
	bottom: 0;
	height:4px;
	background: url(../images/cart/address_icon.png) 0 repeat-x;
}

.address-group .mui-table-view-cell:after ,.address-group .mui-table-view:after , .address-group .mui-table-view:before
,.up-input-group .mui-input-row:after ,.up-input-group:before{
	background-color: #FFFFFF;
}

.notarize_table-view-cell:after{
	content: " ";
	position: absolute;	
	left:10px;
	right:0;
	bottom: 0;
	height:1px;
	background: #c8c7cc;
	-webkit-transform: scaleY(.5);
    transform: scaleY(.5);
	
}

.submit-group:after{
	content: " ";
	position: absolute;	
	left:0;
	right:0;
	top: 0;
	height:1px;
	background: #000;
	-webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
