body{
    position: relative;
}
.pay{
    width: 100%;
    height:4.5rem;
    float: left;
    padding: 0.04rem 0.24rem;
    border-top:0.01rem solid #efefef;
    border-bottom:0.01rem solid #efefef;
    margin-top:1rem;
    background: #fff;
    position: relative;
}
h5{
    color:#333333;
}
.pay .pays{
    width: 100%;
    float: left;

}
.pays .time{
    text-align: center;
    display: flex;
    justify-content: center;
}
.pays .time span{
    width: 0.4rem;
    height: 0.5rem;
    border-radius: 0.1rem;
    background: #090723;
    color: #fff;
    font-size: 0.2rem;
}
.pays .sum{
    width: 100%;
    float: left;
    height: 0.7rem;
    line-height: 0.7rem;
    color: #090723;
    text-align: center;
    margin-top: 0.3rem;
}
.pays .sum span{
    font-size: 0.5rem;
}
.pay .number{
    width: 100%;
    height: 0.8rem;
    float: left;
    display: flex;
    justify-content: space-between;
    line-height: 1rem;
    color: #666666;
    font-size: 0.24rem;
}
.payStyle{
    width: 100%;
    height: auto;
    background: #fff;
    float: left;
    padding: 0.04rem 0;
}
.payStyle h5{
    height: 1rem;
    padding: 0 0.24rem;
    line-height: 1rem;
}
.payStyle .payMethod{
    float: left;
    width: 100%;
    height: auto;
    margin-top: -0.15rem;
}
.payStyle .payMethod li{
    width: 100%;
    height: 1.45rem;
    padding: 0.3rem 0.24rem;
    border-top:0.01rem solid #efefef;
}
.method img{
    width: 0.8rem;
    height: 0.8rem;
    float: left;
    margin: 0 0.4rem;
}
.method .pays{
    float: left;
}
.method .pays p{
    margin-bottom: 0.1rem;
    font-size: 0.28rem;
}
.choose{
    float: right;
    width: 0.5rem;
    height: 0.5rem;
    background: url('../images/btn_choice_defaul.png')center center no-repeat;
    background-size: 100%;
    margin-right: 0.24rem;
    margin-top: 0.125rem;
}
.choose.active{
    background: url('../images/btn_choice_selected.png')center center no-repeat;
    background-size: 100%;
}
.paycode{
    display: block;
    width: 100%;
    height: 1.2rem;
    background: #090723;
    text-align: center;
    position: fixed;
    bottom:0;
    left:0;right:0;
    margin:auto;
    line-height: 1.2rem;
    color:#fff;
}

